.app__datasci {
    background-color: var(--color-black);
}

.app__datasci-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__datasci p {
    text-transform: none;
}

.app__datasci-img img {
    width: 80%;
}

@media screen and (max-width : 650px) {
    .app__datasci-h1 {
        font-size: 60px;
        letter-spacing: 0.02em;
        line-height: 90px;
    }
}